body {
  background-color: #EFEFEF;
  background-image: url("images/bg.png");
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.1em;
}

.sidebar {
  position: fixed;
  width: 55px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #555;
}

.sidebar ul {
  list-style: none;
  padding: 0 13px;
}

.sidebar li {
  font-size: 25px;
  padding: 10px 0;

}
.page-content {
  margin-left: 50px;
}

h1 {
  color: #AAA;
  font-size: 2.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
}

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  color: #AAA;
}

.container {
  width: 600px;
  margin: 0 auto;
}

#face {
  width: 150px;
  border-radius: 50%;
}

.card {
  background-color: #FFF;
  box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.15);
  text-align: center;
  margin: 25px 0;
  padding: 15px;
}


.card ul {
  padding: 0;
}

.card ul {
  list-style: none;
  padding: 0;
}

.card li {
  display: inline-block;
  padding: 15px;
  font-size: 1em;
}

.card li .fab {
  font-size: 2.5em;
  line-height: 1.5em;
}

.card img {
  width: 125px;
  border-radius: 2px;
}
